<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The Text </title>
 </head>
 <body>
      <form method="POST" action="/incoming">
      <p>Team Name: <input type="text" name="name"></p>
      <p><button type="submit" value="submit">Submit</button></p>
    </form>
 </body>
</html>
