<!DOCTYPE html>
<html>

      <form method="POST" action="/checkout">
      <p>Team Name: <input type="text" name="name"></p>
      <p><button type="submit" value="submit">Submit</button></p>
    </form>
</html>
